.logo {
    height: 100%;
    border-radius: 30px;
    padding: 6px;
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
    background-color: #4a1f96 !important;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: Bradley Hand, cursive !important;
}
#footer {
    background-color: #250d50 !important;
    position: fixed;
    bottom: 0;
    color: #fff;
    height: 30px;
    font-size: 10.5pt;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
}