<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

<mat-toolbar color="primary">
    <mat-icon>blur_on</mat-icon>
    <span>OLX Extractor Phone</span>
</mat-toolbar>

<app-olx></app-olx>

<div id="footer" color="secondary">
    <span>Desenvolvido por <a href="https://www.linkedin.com/in/auberlansantiago/" target="_blank" style="color: #fff"> Santiago Ferraz</a></span>
    
</div>