<div class="container row">
    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>Palavra Chave</mat-label>
        <input matInput [(ngModel)]='palavraChave' [disabled]="exibirProgressBar">
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>Categoria 1</mat-label>
        <mat-select [(ngModel)]="selectedCategoria" (selectionChange)="eventChangeCategoria($event)"
            [disabled]="exibirProgressBar">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.partUrl">
                {{ categoria.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>Categoria 2</mat-label>
        <mat-select [(ngModel)]="selectedCategoria2" [disabled]="selectedCategoria == 'todos' || exibirProgressBar">
            <mat-option *ngFor="let categoria of categorias2" [value]="categoria.partUrl">
                {{ categoria.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>UF</mat-label>
        <mat-select [(ngModel)]="selectedEstado" (selectionChange)="eventChangeEstado($event)"
            [disabled]="exibirProgressBar">
            <mat-option *ngFor="let estado of estados" [value]="estado.uf">
                {{ estado.uf | uppercase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>Região</mat-label>
        <mat-select [(ngModel)]="selectedRegiao" (selectionChange)="eventChangeRegiao($event)"
            [disabled]="regioes.length === 1 || exibirProgressBar">
            <mat-option *ngFor="let regiao of regioes" [value]="regiao.url">
                {{ regiao.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-4">
        <mat-label>Cidade</mat-label>
        <mat-select [(ngModel)]="selectedCidade" (selectionChange)="eventChangeCidade($event)"
            [disabled]="(cidades.length <= 1 && bairros.length <= 1) || exibirProgressBar">
            <mat-option *ngFor="let cidade of cidades" [value]="cidade.url">
                {{ cidade.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="col col-sm-12">
        <mat-label>Bairro</mat-label>
        <mat-select [(ngModel)]="selectedBairro" multiple #bairroSelect="ngModel"
            [disabled]="bairros.length <= 1 || exibirProgressBar">
            <mat-option class="select-bairros" (click)="selectUnselectAll(bairroSelect, bairros)" value="TODOS">TODOS
            </mat-option>
            <mat-option *ngFor="let bairro of bairros" [value]="bairro">
                {{bairro.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="btn-extract col-12 col-sm-12">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="getDados()" *ngIf="!exibirProgressBar">
            Buscar Dados
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm" (click)="resetAll()" *ngIf="stopBusca">
            Refazer Busca
        </button>
    </div>

    <div class="col-12 col-sm-12 container-progress-bar" *ngIf="exibirProgressBar && !stopBusca">
        <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
        <button type="button" class="btn btn-danger btn-sm" (click)="stopSearch()">Parar</button>
    </div>

    <hr style="width: 100%;">

    <div class="col-12 col-sm-12 container-qtdes">
        <div class="line-qtdes">
            <div class="qtde" style="border-left: 3px solid #2296f3">{{ qtdeAnuncios }}</div>
            <div class="texto">Total de Anúncios</div>
        </div>
        <div class="line-qtdes">
            <div class="qtde" style="border-left: 3px solid #ff9800">{{ qtdeVisitadas }}</div>
            <div class="texto">Anúncios Visitados</div>
        </div>
        <div class="line-qtdes">
            <div class="qtde" style="border-left: 3px solid #4caf50">{{ resultadoDados.length }}</div>
            <div class="texto">Dados Extraídos</div>
        </div>
    </div>

    <div class="col-12 col-sm-12" *ngIf="qtdeAnuncios > 0">
        <div class="container-btn-gerar-excel">
            <button type="button" class="btn btn-success btn-sm" *ngIf="(resultadoDados.length > 0)" (click)="printComponent()">
                Imprimir
            </button>
        </div>

        <table mat-table [dataSource]="resultadoDados" class="mat-elevation-z4">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="categorias">
                <th mat-header-cell *matHeaderCellDef> Categorias </th>
                <td mat-cell *matCellDef="let element"> {{element.categorias}} </td>
            </ng-container>

            <ng-container matColumnDef="url">
                <th mat-header-cell *matHeaderCellDef> Link Anúncio </th>
                <td mat-cell *matCellDef="let element">
                    <a href="{{element.url}}" target="_blank"> {{element.url}} </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


</div>