.container-btn-gerar-excel {
    text-align: end;
    margin-bottom: -10px;
    margin-top: 15px;
}
.container-qtdes {
    display: flex;
    justify-content: space-between;
}
.line-qtdes {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0 5px;
    width: 230px;
}
.line-qtdes .qtde {
    padding-left: 5px;
    font-size: 20pt;
    margin-bottom: 10px;
    height: 30px;
    padding-top: 5px;
}
.container {
    display: flex;
    max-width: 100%;
    margin: 50px 0 0 0;
    padding: 10px 0px;
}
.btn-extract {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-extract button {
    margin-left: 5px;
    margin-right: 5px;
}
.container-progress-bar {
    display: flex;
    align-items: center;
}
.progress-bar {
    margin-right: 1.5rem;
}
.progress-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
}
section {
    display: table;
}
.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}
.example-button-row {
    display: table-cell;
    width: 490px;
}
.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}