/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff !important;
}

.select-bairros > .mat-pseudo-checkbox {
    display: none !important;
}

.mat-input-element {
    -webkit-box-shadow: 0 0 0 30px white inset;
}